# dependencies
node_modules/
.pnpm-store/

# builds
build/
dist/
coverage/
.cache/
.turbo/
.vite/
.storybook-out/

# env/secrets
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Storybook
storybook-static/
*storybook.log
*.pid
storybook.pid

# drizzle-kit generated migration artifacts
packages/db/drizzle/
.omx
